button{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
button:hover{
    background-color: #fff !important;
    color: #000 !important;
}
